openapi: 3.0.3
info:
  title: PeopleForce Candidates API
  description: PeopleForce is an HR platform offering a REST API for managing employees, candidates, leave requests, departments, divisions, positions, and other HR-related entities.
  version: v2
  contact:
    name: PeopleForce Support
    url: https://developer.peopleforce.io/docs/getting-started
servers:
- url: https://app.peopleforce.io/api/public/v2
  description: PeopleForce production API
security:
- BearerAuth: []
tags:
- name: Candidates
  description: Recruitment candidate management.
paths:
  /candidates:
    get:
      tags:
      - Candidates
      summary: List candidates
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of candidates.
    post:
      tags:
      - Candidates
      summary: Create a candidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created candidate.
  /candidates/{id}:
    get:
      tags:
      - Candidates
      summary: Get a candidate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A candidate record.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
