openapi: 3.0.3
info:
  title: PeopleForce Candidates Employees API
  description: PeopleForce is an HR platform offering a REST API for managing employees, candidates, leave requests, departments, divisions, positions, and other HR-related entities.
  version: v2
  contact:
    name: PeopleForce Support
    url: https://developer.peopleforce.io/docs/getting-started
servers:
- url: https://app.peopleforce.io/api/public/v2
  description: PeopleForce production API
security:
- BearerAuth: []
tags:
- name: Employees
  description: Employee profiles, positions, and compensation.
paths:
  /employees:
    get:
      tags:
      - Employees
      summary: List employees
      description: Returns a paginated list of employees.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of employees.
    post:
      tags:
      - Employees
      summary: Create an employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created employee.
  /employees/{id}:
    get:
      tags:
      - Employees
      summary: Get an employee
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An employee record.
    patch:
      tags:
      - Employees
      summary: Update an employee
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated employee.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
